*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sky {
  background: rgb(151, 160, 215);
  background: radial-gradient(
    circle,
    rgba(151, 160, 215, 1) 0%,
    rgba(147, 148, 156, 1) 89%
  );
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("lightning.png");
  position: relative;
  overflow: hidden;
}
.clouds{
    position: absolute;
    width: 50vh;
    height: 40vh;
    display: flex;
    
}
.cloudsimg{
    
    width: 100%;
    height: 100%;
    transform: translateX(-300px);
    animation: cloud 30s linear infinite;
}
.rain{
    background-image: url("rain.gif");
    width: 100%;
    position: absolute;
    height: 100vh;
}
.highway{
    background-image: url("highway.jpg");
    position: absolute;
    width: 300%;
    height: 20vh;
    bottom: 0;
    transform: translateX(-300px);
    animation: highway 5s linear infinite;
}
.city{
    background-image: url("city.png");
    
    height: 20vh;
    width: 300%;
    position: absolute;
    bottom: 20vh;
    transform: translateX(-300px);
    animation: city 5s linear infinite;
}
.car{
    position: absolute;
    width: 50vh;
    height: 20vh;
    bottom: 10vh;
}
.cars{
    width: 100%;
    height: 100%;
    
}
.wheels{
    width: 310px;
    height: 7vh;
    left:72px;
    position: absolute;
    bottom: 14vh;
    display: flex;
    justify-content: space-between;


}
.wheel1,.wheel2{
    animation: wheel 1s linear infinite;
}

@keyframes cloud {
    100%{
        transform: translateX(-1300px);
    }
    
}
@keyframes highway {
    100%{
        transform: translate(-1300px);
    }
}
@keyframes city {
    100%{
        transform: translate(-1300px);
    }
    
}
@keyframes  wheel{
    100%{
        transform: rotate(360deg);
    }
    
}