*{padding: 0;margin: 0;box-sizing: border-box;}

.main{
    background-color: white;
}
.team{
    display: flex;
    margin-top: 0;
    background-color: rgba(211,207,196,255);
}
.img2{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px;
    justify-content: space-between;
    overflow: hidden;
}
div #main2{
    display: flex;
    height: 700px;
    margin-top: 5px;
}
div #about{
    width: 50%;
    height: 100%;
    padding: 50px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(156,94,221,255);
}
.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 16px;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
  }
.image_edit{
    width: 100%;
    height: 100%;
}
#jumbled{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.jumbled_content{
    width: 100%;
    height: 35%;
    background-color: rgba(211,207,196,255);
    margin: 2px;
    
    
}
header{
    position:fixed;
    width: 100%;
    height: 7vh;
    background-color: rgba(211,207,196,255);
    display: flex;
    align-items: center;
}
.container1{
    display: flex;
    margin-bottom: 20px;
}
#bgimage{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    align-items: center;
}
.img1{
    width: 100%;
    height: 70vh;
}
ul{
    list-style-type: none;
    display: flex;
}   
a{
    text-decoration: none;
}
a.menu :hover{
    background-color: rgba(156,94,221,255);
}
li{
    margin: 5px;
    padding: 17px;
    /* background-color: ; */
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#technology{
    width: 100%;
    height: 500px;
    display: flex;
    margin: 20px;
}

.technologies{
    width: 25%;
    height: 100%;
    background-color: rgba(156,94,221,255);
    border: 5px solid rgba(211,207,196,255);
    margin: 20px;
}
#sec4
{
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    
}
.work
{
    display: flex;
    font-family: 'Montserrat', sans-serif;
     width: 100%;
}
.first
{
    background-color: rgb(65, 72, 78);
    font-family: 'Montserrat', sans-serif;
    height: 300px;
    padding: 30px;
}
.true
{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin-right: 200px;
}
h4
{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.true1
{
    margin-right: 80px;
    font-family: 'Montserrat', sans-serif;
}
h3
{
   padding-left: 500px;
    padding-top: 40px;
    font-size: 25px;
    color:whitesmoke;
    padding-right: 23px;
    font-family: 'Montserrat', sans-serif;
}
.f
{
    background-color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
}