* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

#loader {
  border: 20px solid gray;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 47%;
  top: 40%;
  border-top: 20px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#contactform {
  top: 25%;
  left: 40%;
  position: absolute;
  display: none;
  text-align: left;
  /* border: 2px solid black; */
  padding: 50px;
  background-color: rgba(196, 192, 192, 0.438);
}

label {
  font-weight: bold;
  font-size: 20px;
}

input {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

select {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
